body {
  background-color: #000;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  opacity: 0.9;
  color: seashell;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Header and Nav bar styling start...*/
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  top: -1px;
}

#logo{
  height: 50px;
  margin-left: 10px;
}

nav span{
  text-decoration: underline;
  margin: 20px;
}

nav a{
  color: inherit;
}
/*Header styling ends*/

/*Mission section starts...*/
.mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 69px; /*Pushes the section down 69px since the header is fixed with height 69px*/
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  margin: auto; /*Centers the div both horizontally and vertically*/
}

.content{
  background-color: #000; /*Is there a way to get the body 
  background color to show instead of repeating it here?*/
}
/*Mission section ends*/

/*Tea section starts...*/
.tea{
  margin-top: 50px;
  margin-bottom: 25px;
}

.images{
  max-height: 200px;
  max-width: 300px;
  margin: 10px;
}

/*order images in tea section*/
#bedford{
  order: 5;
}

#berry{
  order: 1;
}

#donut{
  order: 3;
}

#myrtle{
  order: 4;
}

#rum{
  order: 2;
}/*order images in tea section*/

.tea-month{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

.tea-month div{
  padding-bottom: 30px;
}/*Tea section ends*/

/*Location section starts...*/
.locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  height: 550px;
  width: 1200px;
  margin: auto;
}

.full-width{
  width: 100%;
}

.address{
  background-color: #000;
  width: 300px;
  margin: 15px 40px;
}
/*Location section ends...*/

.footer{
  height: 200px;
}

#copyright{
  text-align: left;
  margin-left: 20px;
}